<head>
    <title>MeteorJS Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="IM for developers.">
    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.4.2/pure-min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>

<body>
</body>

<template name="layout">
    <div id="layout" class="content pure-g">
        <div id="nav" class="pure-u">
            <a href="#" title="Menu" class="navMenuButton"><i class="fa fa-bars fa-lg"></i></a>
            <div class="navInner">
                <button class="primary-button pure-button">Magic</button>
                <div class="pure-menu pure-menu-open">
                    <ul>
                        <li><a href="#">Inbox <span class="msgCount">(2)</span></a></li>
                        <li><a href="#">Important</a></li>
                        <li><a href="#">Sent</a></li>
                        <li><a href="#">Drafts</a></li>
                        <li><a href="#">Trash</a></li>
                        <li class="pure-menu-heading">Labels</li>
                        <li><a href="#"><span class="msgLabelPersonal"></span>Personal</a></li>
                        <li><a href="#"><span class="msgLabelWork"></span>Work</a></li>
                        <li><a href="#"><span class="msgLabelTravel"></span>Travel</a></li>
                    </ul>
                    {{> user_info}}
                </div>
            </div>
        </div>
        <div id="list" class="pure-u-1 messages">
            <div class="msgItem pure-g" ng-class="{emailItemSelected: msgs.selectedMessage == message, emailItemUnread: message.unread}" ng-repeat="message in msgs.messages" ng-click="msgs.selectMessage(message)">
                <div class="pure-u">
                    <img class="msgAvatar" alt="{{message.author}}&#x27;s avatar" height="64" width="64" ng-src="img/common/{{message.user}}-avatar.png" src=""/>
                </div>

                <div class="pure-u-3-4">
                    <h5 class="msgName">{{message.author}}</h5>
                    <h4 class="msgSubject">{{message.subject}}</h4>
                    <p class="msgDesc">{{message.summary}}</p>
                </div>
            </div>
        </div>
        <div id="main" class="pure-u-1">
            {{yield}}
        </div>
    </div>
    {{> unibox}}
</template>

